@charset "ISO-8859-1";


.purple {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: purple;
}

.blue {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: blue;
}

.row {
	background: black;
}